@import url('https://fonts.googleapis.com/css2? family= Kanit & family= Kdam+Thmor+Pro & display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}  

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro' sans-serif;
    margin-right: 100px;
}

li:hover {
    color: orangered;
}

#logo {
    width: 250px;
    height: auto;
    margin-top: 2px;
    margin-left: 70px;
}

#banner {
    background-image: url(./photos/teste.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}

#trailer-container {
    width: 100%;
    height: 500px;
    display: contents;
    justify-content: space-around;   
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

}

.description {
    color: #fff
;
    font-size: 20px;
    font-family: 'Kdam Thmor Pro' sans-serif;
    width: 100%;
    margin-top: 30px;
}

.button {
    width: 170px;
    height: 50px;
    background-color: orangered;
    color: aliceblue;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 50px;
}

.button:hover {
    background-color: aliceblue;
    color: black;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    margin: 10px;
    margin-left: 60px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10px 10px;
    color: orangered;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Kdam Thmor Pro' sans-serif;
    margin-top: 40px;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url(./photos/download\ \(4\).jpg);
}
.banner-2 {
    background-image: url(./photos/taylor\ y.jpg);
}
.banner-3 {
    background-image: url(./photos/download\ \(6\).jpg);
}

footer {
    height: 300px;
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro' sans-serif; 
}

#logo {
    margin-right: 60px;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {

    .footer-navigation {
        display: block;
        margin-left: 25%;
        margin-bottom: 5%;
    }
    
    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
        margin-top: 10px;
    }

    #trailer-container {
        width: 90%;
        margin-left: 50px;
    }
    
    .content {
        width: 90%;
        display: contents;
        flex-direction: column;
        justify-content: space-between;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    .cards-content {
        width: 85%;
        grid-template-columns: 1fr;
        margin-top: 20px;
        margin-left: 18px;
    }

}


